<ul>
    <li>
      <% _(collection.models).each(function(user) { %>
        <a href="#" class="user-show" data-id="<%= user.id %>"><%= user.get("fullName")%></a>
<!--             <a href="#user/<%= user.id %>"><%= user.get("fullName")+'(link)' %></a> -->
      <img src=<%=user.get("image_url")%> width="50" height="50" alt=<%= '"' + user.get("fullName") + '"' %>/>
     <% }) %>
    </li>
</ul>